<h1>New comment</h1>

<form id="new-comment" name="comment">
  <div class="field">
    <label for="text"> text:</label>
    <input type="text" name="text" id="text" value="<%= text %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Comment" />
  </div>

</form>

<a href="#/index">Back</a>