.vagrant
.sudo_as_admin_successful
.cache
.bash_history
.env

# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/dump

# Thumbnails
._*

# Ignore application configuration
/config/application.yml

#ignore generated assets
/public/assets
