.row
  .col-lg-12
    %h3.page-header
      Movimientos - Control de Granos de #{current_company.name}

.row{"ng-controller" => "CropControlListCtrl"}
  %br
  .col-lg-12
    .panel.panel-default
      .panel-heading
        .row
          .col-sm-2
            %button.btn.btn-alt.btn-primary.btn-block{"ng-click" => "excel()"} Descargar Excel

          .col-sm-4
            .btn-group
              %button.btn{"ng-class" => "{'btn-primary': filters.gestion, 'btn-default': filters.contabilidad}", "ng-click" => "gestion()"}
                Gestión
              %button.btn{"ng-class" => "{'btn-primary': filters.contabilidad, 'btn-default': filters.gestion}", "ng-click" => "contabilidad()"}
                Contabilidad

          .col-sm-2
            %select.form-control{"ng-model" => "filters.store_id", "ng-change" => "reQuery()"}
              %option{ "ng-repeat" => "store in stores" , :value => "{{store._id}}" } {{store.name}}
          .col-sm-2
            %select.form-control{"ng-model" => "filters.crop_id", "ng-change" => "reQuery()"}
              %option{ "ng-repeat" => "crop in crops" , :value => "{{crop._id}}" } {{crop.name}}
          .col-sm-2
          .col-sm-2
            %button.btn.btn-alt.btn-primary.btn-block Nuevo



      .panel-body
        .table-responsive
          %table.table.table-striped.table-bordered{"ng-table"=>"tableParams"}
            %thead
              %tr
                %th
                  Fecha
                %th
                  Tipo Doc
                %th
                  Entrada
                  %small (tn)
                %th
                  Salida
                  %small (tn)
                %th
                  Saldo
                  %small (tn)
                %th
                  Precio
                  %small ($/tn)
                %th
                  Debe
                  %small ($)
                %th
                  Haber
                  %small ($)
                %th
                  Saldo
                  %small ($)
                %th.hidden-xs.hidden-sm.hidden-md Actualizado por
                %th.hidden-xs.hidden-sm.hidden-md Comentario
                %th
                %th
            %tbody
              %tr{ "ng-repeat" => "cc in $data" }
                %td {{cc.fecha | date : "dd-MM-yyyy"}}
                %td {{cc.tipo_doc}}
                %td.number {{cc.entrada| number:3}}
                %td.number {{cc.salida| number:3}}
                %td.number {{cc.saldo| number:3}}
                %td.number {{cc.precio_unitario| currency:"$":2}}
                %td.number {{cc.debe| currency:"$":2}}
                %td.number {{cc.haber| currency:"$":2}}
                %td.number {{cc.saldo_p| currency:"$":2}}
                %td.hidden-xs.hidden-sm.hidden-md {{cc.updater_email}}
                %td.hidden-xs.hidden-sm.hidden-md {{cc.comentario}}
                %td
                  %a{:href => "#/#{@_id}/edit"}
                    %i.fa-2x.fa.fa-pencil
                %td
                  %a.destroy{:href => "#/#{@_id}/destroy"}
                    %i.fa-2x.fa.fa-remove
