<h1>Edit crop_control</h1>

<form id="edit-crop_control" name="crop_control">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Crop control" />
  </div>

</form>

<a href="#/index">Back</a>
