%ul.thumbnails.services
  %li.span2(style="display:none")
    = link_to user_omniauth_authorize_path(:facebook), :class => "thumbnail" do
      = image_tag "social/facebook_128.png", :size => "128x128", :alt => "Facebook"
      Facebook
  %li.span2
    = link_to user_omniauth_authorize_path(:google_oauth2), :class => "thumbnail" do
      = image_tag "social/google_oauth2_128.png", :size => "128x128", :alt => "Google"
      Google

