
.dark.data-block
  %header
    %h2
      Intranet
  %section
    %p.lead Bienvenido
    %p 
      Para acceder a cualquier sistema de la Intranet es necesario registrarse.
    %p     
      Si ya estás registrado, ingresa 
      = link_to('ingresa aquí', new_user_session_path)
    %p
      De lo contrario, 
      = link_to('registrate', new_user_registration_path)

