.row
  .span8
    .dark.data-block
      %header
        %h2
          Mis Empresas
    .row
      - @companies.each do |company|
        %a.span2.data-block.widget-block(href="#{select_company_path(company)}")
          %section
            %span.icon-website-alt
            %strong #{company.name}      
        
  .span4
    .dark.data-block
      %header
        %h2
          Control de Granos
      %section
        %p.lead Bienvenido
        %p Debes seleccionar una empresa para comenzar con el Control de Granos
    