<h1>New crop</h1>

<form id="new-crop" name="crop">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Crop" />
  </div>

</form>

<a href="#/index">Back</a>