#comments
  margin-top: 20px
  border: 1px solid #ccc
  background: #fff
  .title
    background: #3A87AD
    padding: 2px 3px
    font-size: 11px
    font-weight: bold
    color: #fff
    text-transform: uppercase  
    cursor: pointer


  .messages
    max-height: 200px
    overflow-y: auto

    time
      font-style: italic
      color: #777
      font-size: 11px

  .send
    border-top: 1px solid #ccc
    background: #fff
    padding: 3px 3px 3px 5px
    margin: 0
    .icon-comment
      margin: 5px
    input
      border-radius: 0
      padding: 3px
      width: 90%
      margin: 0
      &:focus 
        outline: 0

