%h2 Todo
%div
  %span {{remaining()}} of {{todos.length}} remaining
  [
  %a{:href => "", "ng-click" => "archive()"} archive
  ]
  %ul.list-unstyled
    %li{"ng-repeat" => "todo in todos"}
      %input{"ng-model" => "todo.done", :type => "checkbox"}/
      %span{:class => "done-{{todo.done}}"} {{todo.text}}
  %form{"ng-submit" => "addTodo()"}
    %input{"ng-model" => "todoText", :placeholder => "add new todo here", :size => "30", :type => "text"}/
    %input.btn.btn-primary{:type => "submit", :value => "add"}/
