@import 'compass'
@import 'partials/chat'

#ajax-indicator
  position: fixed
  left: 8px
  top: 50px
  +transition(opacity 0.4s)
  +transparent
  &.on
    +opaque
  
#contextMenu
  background: #e1efc7
  border: 1px solid gray
  padding: 2px
  display: inline-block
  min-width: 100px
  +box-shadow(2px 2px 2px silver)
  z-index: 99999
  li
    padding: 4px 4px 4px 14px
    list-style: none
    cursor: pointer
    &:hover
      background-color: white


.ui-datepicker-trigger
  margin: 3px
  padding: 0
  cursor: pointer


.slick-viewport
  .slick-cell
    &.entrada, &.salida, &.saldo
      background: rgb(139, 236, 139)
      text-align: right
      input
        text-align: right
    &.debe, &.haber, &.saldo_p
      background: rgb(139, 236, 139)
      text-align: right
      input
        text-align: right
    &.precio_unitario
      text-align: right
      input
        text-align: right
  
.slick-header  
  .slick-header-column
    &.entrada, &.salida, &.saldo
      background: rgb(139, 236, 139)
    &.debe, &.haber, &.saldo_p
      background: rgb(139, 236, 139)
  
