/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require recline/grid.css
 *= require recline/slickgrid.css
 *= require recline/vendor/slickgrid/2.0.1/slick.grid.css
 *= require jquery.ui.datepicker
 *= require_self
 */
 



/* Slick.Editors.Text, Slick.Editors.Date */
.slick-cell.editable {
  background: #e7e7e7;
}

.slick-cell input.editor-text {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
  box-shadow: none;
}
