/*
 *= require slick/default-theme
 *= require slick/editors
 *= require slick/grid
 *= require slick/remotemodel
 *= require slick/controls/columnpicker
 *= require slick/controls/pager
 */

.slick-cell .select-slick-editor{
  outline: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
