<p>Hola <%= @resource.email %>!</p>

<p>Alguien pidió un link para cambiar tu contraseña, y puedes hacerlo mediante el siguiente enlace.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no pediste esto, por favor ignora este email.</p>
<p>Tu contraseña no cambiará hasta que no accedas al link anterior y crees una nueva contraseña.</p>
