%h1.page-header Depositos

%ul{ "ng-repeat" => "store in stores" }
  %li
    {{store.name}}

%ul{ "ng-repeat" => "store in stores" }
  %li
    %form{"ng-submit" => "update(store)"}
      %input{"ng-model" => "store.name", :type => "text", :value=> "{{store.name}}" }/
      %input.btn.btn-primary{:type => "submit", :value => "update"}/
