%footer#footer
  .container-fluid
    / Footer info
    %p 
      &copy; Marino 2013
      -
      %a{:href => "http://www.agroapex.com.ar"} Agroapex
    / Footer nav
    %ul
      %li
        %a{:href => "#"} Support
      %li
        %a{:href => "#"} Documentation
      %li
        %a{:href => "#"} API
    / /Footer nav
    / Footer back to top
    %a.btn.btn-alt{:href => "#top"}
      %span.icon-arrow-up