/ Main navigation
%nav.main-navigation
  / Responsive navbar button
  .navbar
    %a.btn.btn-alt.btn-large.btn-primary.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
      %span.icon-home
      Dashboard
  / /Responsive navbar button
  / Navigation
  .nav-collapse.collapse{:role => "navigation"}
    %ul
      %li.active
        %a{:href => "/"}
          %span.icon-home
          Inicio
      %li
        %a{:href => "/backups"}
          %span.icon-file
          Backups
        %ul.dropdown-menu
          %li
            %a{:href => "forms.html"}
              %span.icon-align-left>
              Forms
          %li
            %a{:href => "tables.html"}
              %span.icon-th-list>
              Tables
            %span.badge 23
      %li
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %span.icon-asl
          Elements
        %ul.dropdown-menu
          %li
            %a{:href => "charts.html"}
              %span.icon-graph
              Charts
          %li.divider
          %li
            %a{:href => "typo.html"}
              %span.icon-font
              Typography
            %span.badge 7
      %li
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %span.icon-file
          Pages
        %ul.dropdown-menu
          %li
            %a{:href => "eshop.html"} Online store
      %li
        %a{:href => "docs/index.html"}
          %span.icon-info-sign
          Docs