/ Main navigation
%nav.main-navigation
  / Responsive navbar button
  .navbar
    %a.btn.btn-alt.btn-large.btn-primary.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
      %span.icon-home
      Dashboard
  / /Responsive navbar button
  / Navigation
  .nav-collapse.collapse{:role => "navigation"}
    %ul
      %li.active-
        %a{:href => "/"}
          %span.icon-home
          Inicio
      %li
        %a{:href => "/backups"}
          %span.icon-file
          Backups
      %li
        = link_to companies_path do
          %span.icon-info-sign
          Mis Empresas
      %li
        = link_to crops_path do
          %span.icon-info-sign
          Granos         