/ Grid row
.row
  / Data block
  %article.span4
    .dark.data-block
      %header
        %h2
          %span.icon-thumbs-up
          Made for Twitter Bootstrap
      %section
        %p.lead Sangoma is a Zulu term that is used to commonly describe all types of Southern African traditional healers.
        %p Sangoma relies primarily on divination for healing purposes and might also be considered a type of fortune teller. He perform a holistic and symbolic form of healing by drawing on the embedded beliefs that ancestors in the afterlife guide and protect the living.
    %article.red.data-block.accordion-block
      #accordionName.accordion
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{"data-parent" => "#accordionName", "data-toggle" => "collapse", :href => "#accordionTabOne"} First accordion tab
          #accordionTabOne.accordion-body.collapse.in
            .accordion-inner Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{"data-parent" => "#accordionName", "data-toggle" => "collapse", :href => "#accordionTabTwo"} Second accordion tab
          #accordionTabTwo.accordion-body.collapse
            .accordion-inner Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        .accordion-group
          .accordion-heading
            %a.accordion-toggle{"data-parent" => "#accordionName", "data-toggle" => "collapse", :href => "#accordionTabThree"} Third accordion tab
          #accordionTabThree.accordion-body.collapse
            .accordion-inner Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
  / /Data block
  / Data block
  %article.span8.turquoise.data-block
    %header
      %h2
        %span.icon-calendar
        Calendar
      %ul.data-header-actions
        %li.demoTabs.active
          %a{:href => "#calendar"} Calendar
        %li.demoTabs
          %a{:href => "#table"} Test results
    %section.tab-content
      / Tab #calendar
      #calendar.tab-pane.active
        .full-calendar.full-calendar-demo
      / /Tab #calendar
      / Tab #table
      #table.tab-pane
        %table.table.table-stripped.table-hover
          %thead
            %tr
              %th Nuclear test
              %th
                1
                %sup st
                Yield (kT)
              %th
                2
                %sup nd
                Yield (kT)
              %th Date
          %tbody
            %tr
              %td Trinity
              %td 18-20
              %td 19-21
              %td 1945-07-16
            %tr
              %td Trinity
              %td 18-21
              %td 16-18
              %td 1945-07-19
            %tr
              %td Little Boy
              %td 12-18
              %td 14-16
              %td 1945-08-06
            %tr
              %td Fat Man
              %td 18-23
              %td 21-24
              %td 1945-08-09
      / /Tab #table
    %footer
      %p Morbi vitae luctus dolor. Aliquam ut enim a mi scelerisque porttitor ac at tortor.
  / /Data block
/ /Grid row
