/ Grid row
.row
  / Data block
  %article.span3.data-block.plan-block
    %section
      %span.icon-group
      %h3 Quisque mattis
      %p Lorem ipsum dolor sit amet, consectetur adipiscing.
      %a.btn.btn-alt.btn-block.btn-large.btn-success{:href => "#"} Subscribbe
  / /Data block
  / Data block
  %article.span3.data-block.plan-block
    %section
      %span.icon-guidedog
      %h3 Suspend potenti
      %p Donec quis velit in nisi posuere commodo quis at.
      %a.btn.btn-alt.btn-block.btn-large.btn-success{:href => "#"} Download
  / /Data block
  / Data block
  %article.span3.data-block.plan-block
    %section
      %span.icon-network
      %h3 Lorem es ipsum
      %p Proin suscipit dignissim volutpat. Null ligula euismod.
      %a.btn.btn-alt.btn-block.btn-large.btn-success{:href => "#"} Buy now
  / /Data block
  / Data block
  %article.span3.data-block.plan-block
    %section
      %span.icon-fire
      %h3 Nullam et purus
      %p Proin nulla nisl, elementum ut dignissim, mollis diam.
      %a.btn.btn-alt.btn-block.btn-large.btn-success{:href => "#"} App Store
  / /Data block
/ /Grid row
